<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3>Ricardo Mejía</h3>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="#home" class="mdl-layout__tab is-active">Articles</a>
    <a href="#portfolio" class="mdl-layout__tab">Portfolio</a>
    <a href="/about" class="mdl-layout__tab">About</a>
    <a href="#contact" class="mdl-layout__tab">Contact</a>

  </div>
</header>