<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--brown mdl-color-text--white">
    <i class="material-icons">{{ post.icon }}</i>
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>{{ post.title }}</h4>
      {{ post.description }}
    </div>
    <div class="mdl-card__actions">
      <a href="{{ post.url }}" class="mdl-button">Read more</a>
    </div>
  </div>
</section>